.result_flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #12141c;
  padding: 15px 0 15px 0px;
  border-radius: 5px;
  margin-left: 5px;

  .result__best {
    // padding: 1rem;
    color: #959596;
    th,
    td {
      padding: 12px;
      border-bottom: 2.5px dashed #62210f;
    }

    .bestResult {
      color: green;
      text-align: center;
    }
    .worstResult {
      color: red;
      text-align: center;
    }
    .currentResult {
      color: orange;
      text-align: center;
    }
  }
}

@media (max-width: 1544px) {
  .result_flex {
    height: 35vh;
  }
  .result__scroll {
  }
}
@media (max-width: 1024px) {
  .result_flex {
    height: 35vh;
  }
  .result__scroll {
  }
}
@media (max-width: 768px) {
  .result_flex {
    height: 40vh;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  .result__scroll {
    // width: 50%;
  }
}
