.result_flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #455161;
  padding: 0 0px 10px 0px;
  border-radius: 10px;

  .result__best {
    padding: 1rem;
    th,
    td {
      padding: 10px;
      border-bottom: 2.5px dashed #252525;
    }
  }
}
