.result_flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #12141c;
  padding: 0 0 10px 0px;
  border-radius: 10px;
  width: 30vh;

  .nonResults {
    display: flex;
    align-items: center;
    height: 65vh;

    h1 {
      color: #959596;
    }
  }

  .result__scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    padding: 1rem;
    height: 65vh;
    overflow: scroll;
    table,
    th,
    td {
      border-collapse: collapse;
      color: #959596;
      padding: 12px;
      caption {
        h3 {
          margin: 0;
        }
        text-align: left;
        font-size: large;
        font-weight: 700;
        border-bottom: none;
        padding: 10px;
        padding-top: 0;
      }
      tbody {
        border-top: 2.5px dashed #62210f;

        .resultTime {
          color: green;
        }
      }
    }
  }
}
