$background_color: #12141c;
$text_color: #959596;
$border_color: #62210f;

.result_flex {
  background-color: $background_color;
  padding: 15px 0 15px 0px;
  border-radius: 5px;

  .nonResults {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25rem;

    h1 {
      color: $text_color;
    }
  }

  .result__scroll {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scrollbar-width: none;
    width: 25rem;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    padding-bottom: 10px;
    display: flex;
    height: 35vh;
    overflow: scroll;

    table {
      border-collapse: collapse;
      color: $text_color;
      padding: 12px;
      font-size: large;

      caption {
        padding: 12px;

        .caption__flex {
          display: flex;
          justify-content: space-around;
          flex-direction: row;
        }
      }
    }

    th,
    td {
      padding: 12px;

      .deleteIcon {
        transition: 0.3s;

        cursor: pointer;
        &:hover {
          color: red;
        }
      }

      .favoriteIcon {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: yellow;
        }
      }

      .plusTwoTrue {
        color: $text_color;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }

      .plusTwoFalse {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: $text_color;
        }
        color: red;
        // border-bottom: red 1px solid;
      }

      .dnfTrue {
        color: $text_color;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }

      .dnfFalse {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: $text_color;
        }
        color: red;
      }
    }

    tbody {
      border-top: 2.5px dashed $border_color;

      .resultTime {
        font-weight: 700;
        color: green;
        text-shadow: 5px 5px 5px rgba(0, 6, 1, 6.25);
        width: 150px;
        border-right: 2.5px dashed $border_color;
      }
    }
  }
}

h3 {
  margin: 0;
}

@media (max-width: 1544px) {
  .result_flex {
    height: 35vh;
  }
  .nonResults {
    height: 35vh;
  }
}
@media (max-width: 1024px) {
  .result_flex {
    height: 35vh;
  }
  .nonResults {
    height: 35vh;
  }
}
@media (max-width: 768px) {
  .result_flex {
    height: 40vh;
  }
  .nonResults {
    height: 40vh;
  }
  .result__scroll {
  }
}
