.stopwatchContainer {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin-bottom: 5rem;

  .stopwatchTime {
    color: aliceblue;
  }
  .stopwatchButtons {
    button {
      background-color: aqua;
    }
  }
}

@media (max-width: 4024px) {
  .stopwatchTime {
    // color: aliceblue;
    font-size: 90px;
    margin-bottom: 5rem;
  }
}
@media (max-width: 1524px) {
  .stopwatchTime {
    // color: aliceblue;
    font-size: 80px;
    margin-bottom: 5rem;
  }
}
@media (max-width: 1224px) {
  .stopwatchTime {
    color: aliceblue;
    margin-bottom: 5rem;
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  .stopwatchTime {
    color: aliceblue;
    font-size: 60px;
    margin-bottom: 5rem;
  }
}
