.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #161b21;
  color: white;
  padding: 10px;
  /* width: 100%; */
  text-align: center;
}

.app-main {
  /* flex: 1; */
  display: flex;
  padding: 2rem;
  padding-top: 1.5rem;
}

.app-left-column {
  flex: 0 0 auto;
  background-color: #b5431f;
  border-radius: 10px;
  padding: 4px;
  width: 20%;
  height: 100%;
}

.app-right-column {
  flex-direction: column;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 2rem;
}

.app-footer {
  margin-top: auto;
  background-color: #b5431f;
  padding: 4px;
  border-radius: 10px;
}

h1 {
  margin: 0;
  padding: 10px;
}

.app-left-column-up {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px;
  background-color: #161b21;
  border: #b5431f 1.4px solid;
  border-radius: 5px;
  color: #b5431f;
  transition: 0.3s ease;
}

button:hover {
  background-color: #b5431f;
  color: #161b21;
  border: #161b21 1.4px solid;
}

@media (max-width: 1024px) {
  .app-main {
    flex-direction: row; /* Switch back to row layout for larger screens */
  }

  .app-left-column,
  .app-right-column {
    flex-basis: auto; /* Allow content to determine width */
    align-self: stretch; /* Stretch columns to full height */
    /* padding: 1rem; */
  }

  .app-left-column {
    width: 50%;
  }
  .app-right-column {
    padding: 10rem 0 0 2rem;
  }
}
@media (max-width: 1544px) {
  .app-main {
    flex-direction: row; /* Switch back to row layout for larger screens */
  }

  .app-left-column,
  .app-right-column {
    flex-basis: auto;
    align-self: stretch;
  }

  .app-left-column {
    width: 50%;
  }
  .app-right-column {
    padding: 10rem 0 0 2rem;
  }
}
@media (max-width: 768px) {
  .app-main {
    display: flex;
    flex-direction: column-reverse; /* Switch back to row layout for larger screens */
    justify-content: center;
  }

  .app-left-column,
  .app-right-column {
    flex-basis: auto;
    align-self: stretch;
  }

  .app-left-column {
    margin-top: 2rem;
    width: 100%;
  }
  .app-right-column {
    padding: 10rem 0 0 0;
  }
}
