.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #161b21;
  color: white;
  padding: 10px;
  text-align: center;
}

.app-main {
  display: flex;
  padding: 2rem;
  padding-top: 1.5rem;
}

.app-right-column {
  flex-direction: column;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0rem;
}

.app-footer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  background-color: #b5431f;
  padding: 5px;
  border-radius: 5px;
}

h1 {
  margin: 0;
  padding: 10px;
}

/* .app-left-column-up {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* button {
  padding: 10px;
  background-color: #161b21;
  border: #b5431f 1.4px solid;
  border-radius: 5px;
  color: #b5431f;
  transition: 0.3s ease;
}

button:hover {
  background-color: #b5431f;
  color: #161b21;
  border: #161b21 1.4px solid;
} */

@media (max-width: 1024px) {
  .app-main {
    flex-direction: row;
    padding: 2rem;
  }

  .app-right-column {
    padding: 10rem 0 0 2rem;
  }
}

@media (max-width: 1544px) {
  .app-main {
    flex-direction: row;
    padding: 2rem;
  }

  .app-right-column {
    padding: 2rem 0 0 0rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-footer {
  }
}

@media (max-width: 768px) {
  .app-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .app-right-column {
    padding: 10rem 0 0 0;
  }
  .app-footer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
